*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    width:100%;
    height:60px;
    background-color: #080808;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.nav-list{
    display:flex;
    align-items: center;
}
.nav-list-item{
    padding: 0 16px;
}
.nav-link{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.logo{
    color:#fff;
    font-size: 25px;
    font-weight: bold;
}
.logo span{
    color: #ff0000;
}
.hamburger{
    display: none;
}

header{
    width: 100%;
    height: 92vh;
    background-image: url("img/header-bg.jpg");
    background-color: #00000086;
    background-blend-mode: multiply;
}
.header-text{
    color: #fff;
    margin-left: 30px;
    position: relative;
    top: 15%;
}
.header-text h1{
    font-size: 85px;
    padding: 16px 0;
}
.header-text p:nth-child(2),
.header-text p:nth-child(3){
    font-size: 32px;
    padding: 8px 0;
}

.header-cta{
    background: transparent;
    border: 3px solid #fff;
    outline: none;
    color: #fff;
    width: 150px;
    height: 45px;
    margin: 16px 0;
}

@media (max-width : 425px){
    .nav-list{
        display:none;
    }
    .hamburger{
        display:block;
        width: 30px;
        height:30px;
        color:#fff;
        cursor: pointer;
    }
    .line {
        width:100%;
        height:3px;
        margin:6px 0;
        background: #fff;
    }
}

img{
    max-width: 100%;
}

#dishes,
#chefs,
#order{
    width:100%;
    min-height:100vh;
    text-align: center;
    background-color: #080808;
    padding: 16px;
}
#dishes > h2,
#chefs > h2,
#order > h2{
    color: #ff0000;
    padding: 16px 0;
}

#dishes .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}
#dishes .col{
    padding: 16px;
    text-align: left;
    color: #b1b1b1;
}
#dishes .col button{
    outline:none;
    border: 1.5px solid #ff0000;
    color: #ff0000;
    background: transparent;
    width: 150px;
    height: 45px;
    margin: 10px 0;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price p:nth-child(1){
    color: #c60000;
    font-size: 20px;
}
.price p:nth-child(2){
    color: #ff0000;
    font-weight: bold;
    font-size: 35px;
}
#chefs .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    height: 400px;
}
#chefs .col{
    border:2px solid red;
    max-height: 100%;
    display: flex;
}
.text{
    background: #d3d3d3;
    width: 50%;
    text-align: right;
    padding: 16px;
}
.text h3{
    font-size: 30px;
    padding: 16px 0;
}
.text h4{
    font-size: 18px;
}
.text p{
    padding: 16px 0;
}

#order .grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 16px;
    height: 500px;
}
#order .col{
    border: 2px solid red;
}
 footer{
    text-align: center;
    background-color: #080808;
    padding: 16px;
    color: #ff0000;
 }