* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
nav {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  background: #000;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-link {
  color: #fff;
  transition: all 0.5s ease;
}
.nav-link:hover{
    color: #ff0000;
    text-decoration: underline;
}
.nav-list-item {
  margin: 0 0.4rem;
  padding: 0.3rem;
  font-size: 1.3rem;
  font-weight: 900;
}
.logo {
  padding: 0.3rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
.logo span {
  color: #f00;
}
.hamburger {
  display: none;
}

header {
  width: 100%;
  min-height: 90vh;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-color: #00000070;
  background-blend-mode: saturation;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.header-text {
  color: #fff;
  padding: 1.5rem;
}
.header-text h1 {
  font-size: 5.2rem;
  font-weight: 900;
  margin: 0.5rem 0;
}
.header-text p:nth-child(2) {
  font-size: 4.2rem;
  margin: 0.5rem 0;
}
.header-text p:nth-child(3) {
  font-size: 3.2rem;
  margin: 0.5rem 0;
}
.header-cta {
  width: 160px;
  height: 50px;
  border: 3px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  margin: 0.5rem 0;
  transition: all 0.5s ease-in;
}
.header-cta:hover{
    background: #858585;
    color: #080808;
    cursor: pointer;
    font-weight: bold;
    border-color: #000000;
}
#dishes,
#chefs {
  text-align: center;
  padding: 1.5rem;
  border: 2px solid red;
  width: 100%;
  min-height: fit-content;
  background-color: #080808;
}
#chefs > h2,
#dishes > h2 {
  color: #ff0000;
}
#dishes .flex-container {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}
#dishes .col {
  border: 2px solid red;
  text-align: left;
  padding: 1rem;
  color: #d3d3d3;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price p:nth-child(1) {
  font-size: 20px;
  color: #c60000;
}
.price p:nth-child(2) {
  font-size: 30px;
  color: #ff0000;
}
.order-btn {
  background: transparent;
  border: 2px solid #c60000;
  color: #c60000;
  outline: none;
  height: 45px;
  width: 120px;
  margin: 0.5rem 0;
}
.order-btn:hover{
    background: #1b1a1a;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-color: #000000;
}
img {
  max-width: 100%;
}

#chefs .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
/* .image1{
    flex-order: 1;
} */
#chefs .col {
  display: flex;
  background-color: #d3d3d3;
}
#chefs .text {
  text-align: left;
  padding: 0.5rem;
}
.text h3 {
  font-size: 32px;
  padding: 0.5rem;
}
.text h4 {
  padding: 0.5rem;
}
.text p {
  padding: 0.5rem;
}
.social-icons {
  display: flex;
}
.social-icons a {
  display: inline-block;
  color: #383838;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #acacac;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  transition: all 0.5s ease;
}
.social-icons a:hover{
    background-color: #000;
    cursor: pointer;
    color: #fff;
}

#chefs h2 {
  padding: 1rem 0;
}

#order {
  width: 100%;
  background-color: #080808;
  height: 100vh;
  text-align: center;
}

#order{
    width:100%;
    height: 75vh;
    border: 2px solid red;
}
#order .grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem;
}
.form-bg{
    background-image: url("img/book\ a\ table.jpg");
}
form{
    border: 2px solid blue;
    padding: 8px;
    margin: 8px;
}
.submitbtn{
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: #c60000;
    border: none;
    outline: none;
    transition: all 0.5s ease;
}
.submitbtn:hover{
    cursor: pointer;
    font-weight: 900;
    background-color: #6b0000;
}
input{
    height: 45px;
    width: 48.6335%;
    margin: 5px;
    display: inline-block;
    padding: 10px;
    border: none;
    outline: none;
}

.input-container{
    width: 100%;
    height: fit-content;
}
textarea{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    outline: none;
}
#order .col{
    border: 2px solid red;
}
#order .col:nth-child(2){
    background-color:#d3d3d3;

}

footer{
    background-color: #080808;
    text-align: center;
    color:#d3d3d3;
    padding: 1rem;
}

@media (max-width: 768px) {
  nav > ul {
    display: none;
  }
  .hamburger {
    display: block;
    width: 30px;
    height: 30px;
  }
  .line {
    background-color: #fff;
    width: 30px;
    height: 4px;
    margin: 3px 0;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  nav > ul {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    width: 100%;
    background: #000;
    transition: 0.5s;
    height: 0px;
    display: block;
    overflow: hidden;
    z-index: 100;
  }
  .nav-list.active {
    height: 450px;
    flex-direction: column;
    /* justify-content: center; */
  }
  .nav-list.active li {
    opacity: 1;
  }
  .nav-list.active li {
    margin: auto 50%;
    transition: 0.9s;
    /* opacity:0; */
  }
  #dishes {
    padding: 0.3rem;
  }
}

@media screen and (max-width: 430px) {
  #dishes {
    padding: 0.5rem;
  }

  #dishes .flex-container {
    grid-template-columns: 1fr;
  }
}
